
/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}


.supports_error
{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show
{
    display: flex;
}

button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


body {
  font-family: 'Mulish';
  background: #fff;
  color: #000;
}
.wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-width: 360px;
  min-height: 100%;
}
.main {
  flex: 1 0 auto;
}
.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 20px;
}




header {
  background-image: url(../image/header_bg.jpg);
  padding-top: 579px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 62px;
}
.header_box {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.header_box-left {
  font-weight: 900;
  font-size: 150px;
  line-height: 188px;
  color: #FFFFFF;
  margin-right: 31px;
}
.header_box-right {
  font-weight: 700;
  font-size: 50px;
  line-height: 63px;
  color: #FFFFFF;
}
.header_author {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  padding: 17px 48px 18px;
  background: #FF6A3C;
  display: inline-block;
  margin-left: 121px;
}


.instagram_link {
  display: none;
}
.information_text {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #000000;
  letter-spacing: 0.1px;
}
.information_box {
  display: flex;
  margin-top: 26px;
  margin-bottom: 60px;
}
.information_box-left {
  font-weight: 900;
  font-size: 22px;
  line-height: 150%;
  color: #FF6A3B;
  margin-right: 60px;
}
.information_box-left span {
  display: block;
}
.information_box-right {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #000000;
}
.information_box-right a {
  font-weight: 800;
  font-size: 22px;
  line-height: 150%;
  color: #000000;
  text-decoration: underline;
}
.information_title {
  font-weight: 800;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #4656A6;
  margin-bottom: 48px;
}
.information_list {
  column-gap: 30px;
  column-count: 2;
  padding-left: 19px;
  margin-bottom: 40px;
}
.information_list li {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 15px;
}
.information_list li span {
  background: #FFF500;
}
.information_banner {
  background: #FF6A3B;
  padding: 37px 53px 39px;
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}
.information_banner-img {
  margin-right: 32px;
  width: 77px;
  height: 77px;
  flex-shrink: 0;
}
.information_banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.information_banner-text {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #FFFFFF;
}
.mb {
  margin-bottom: 0;
}
.information_subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #4656A6; 
  margin-top: 4px;
  margin-bottom: 25px;
}
.information_wrap {
  margin-bottom: 57px;
}
.information_wrap-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 12px;
}
.information_wrap-text .text-yellow {
  background: #FFF500;
}
.information_banner-yellow {
  background: #FFF500;  
  padding: 21px 38px 22px;
  display: flex;
  align-items: center;
  margin-bottom: 52px;
  text-decoration: none;
}
.information_banner-yellow-img {
  margin-right: 26px;
  width: 57px;
  height: 57px;
  flex-shrink: 0;
}
.information_banner-yellow-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.information_banner-yellow-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000000; 
  display: block; 
}
.information_banner-yellow-text span {
  font-weight: 900;
  font-size: 16px;
}
.information_history {
  margin-bottom: 54px;
}
.information_history-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 40px;
}
.information_history-items {
  display: flex;
  margin-left: -59px;
  margin-bottom: -59px;
  flex-wrap: wrap;
  padding-right: 140px;
}
.information_history-items > * {
  width: calc(100%/2 - 59px);
  margin-left: 59px;
  margin-bottom: 59px;
}
.information_history-item {
  padding: 33px 40px 36px 42px;
  background: #FFFEE2;
  height: max-content;
}
.information_history-item:nth-child(2) {
  margin-top: 54px;
}
.information_history-item:nth-child(3) {
  margin-top: -135px;
}
.information_history-item-author {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FF6A3B;
  margin-bottom: 15px;
}
.information_history-item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}



.download {
}
.download_top {
  background: #FFF500;
}
.download_top .container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 25px 25px;
}
.download_top .container:before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -24px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 24px 14px 0 14px;
  border-color: #FFF500 transparent transparent transparent;
}
.download_top-img {
  width: 57px;
  height: 57px;  
  margin-right: 23px;
  flex-shrink: 0;
}
.download_top-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.download_top-title {
  font-weight: 900;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.download_top-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.download form label {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 14px;
} 
.download form {
  margin-top: 45px;
}
.download form input {
  border: 1px solid #C4C4C4;  
  padding: 0 20px;
  height: 48px;
} 
.download form .line .field {
  display: flex;
  flex-direction: column;
}
.download form .line .field button {
  margin-top: 40px;
  background: #FF6A3C;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  transition: all .4s;
}
.download form .line .field button:hover {
  background: #f83a00;
}